@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Nunito", sans-serif;
  }
}

@layer utilities {
  body {
    position: relative;
    overflow: auto;
    max-width: screen;
    overflow-x: hidden;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/premium-vector/seamless-pattern-books-sketch-doodle-books-set-icon-doodle-style_698782-1265.jpg?w=740");
    background-size: auto;
    background-position: center;
    opacity: 0.1; /* Adjust the opacity value as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
  }

  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.116
    ); /* Adjust the color and opacity for the dim effect */
    z-index: -1; /* Ensure the dim layer is on top of the background image */
  }

  .main-layout {
    display: flex;
  }

  .inner-layout {
    background-color: #f5f5f5;
    width: 100%;
  }

  .inner-layout-home {
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-right: 20px;
    width: "screen";
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  }

  .mini-header-typography {
    font-size: 12px;
    letter-spacing: 2px;
  }

  .mini-header-svg {
    margin-left: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  .home-img-container {
    position: relative;
    height: "150px";
  }

  @media (max-width: 768px) {
    .mini-header-typography {
      font-size: 8px; /* Adjust the font size for mobile screens */
      letter-spacing: 0.5px;
    }

    .mini-header-svg {
      margin-left: 0.2rem;
      height: 12px;
      width: 12px;
    }

    .home-img-container {
      position: relative;
      height: "150px";
    }
  }
}
